<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-center">Promociones</h2>
  </div>
 
  <div class="w-80">
    <div class="d-flex justify-content-left align-items-center mb-8" style="margin-bottom: 10px;">
      <button class="btn btn-primary" (click)="abrirModalParaNuevaPromocion()">Nueva Promoción</button>
    </div>
    <table class="table table-bordered table-hover text-center">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Descuento</th>
          <th>Nombre del Negocio</th>
          <th>Red</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let promocion of promocionesPaginadas">
          <td>{{ promocion.nombre }}</td>
          <td>{{ promocion.descripcion }}</td>
          <td>{{ promocion.descuento }}%</td>
          <td>{{ obtenerNombreNegocio(promocion.id_negocios) }}</td>
          <td>{{ obtenerNombreRed(promocion.id_negocios) }}</td>
          <td>{{ promocion.fechaInicio }}</td>
          <td>{{ promocion.fechaFin }}</td>
          <td>{{ promocion.estado }}</td>
          <td>
            <button
            type="button"
            class="btn btn-warning"
            (click)="abrirModal(promocion)"
          >
            Actualizar
          </button>
            <button
            type="button"
            class="btn btn-danger"
            (click)="prepararEliminacion(promocion._id)"
          >
            Eliminar
          </button>
          
          </td>
        </tr>
      </tbody>
    </table>
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="paginaActual === 1">
          <button class="page-link" (click)="cambiarPagina(paginaActual - 1)">
            Anterior
          </button>
        </li>
        <li
          class="page-item"
          *ngFor="let pagina of paginas; let i = index"
          [class.active]="paginaActual === i + 1"
        >
          <button class="page-link" (click)="cambiarPagina(i + 1)">
            {{ i + 1 }}
          </button>
        </li>
        <li class="page-item" [class.disabled]="paginaActual === paginas.length">
          <button class="page-link" (click)="cambiarPagina(paginaActual + 1)">
            Siguiente
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>

<app-modal-promocion
  *ngIf="mostrarModal"
  class="modal-backdrop"
  [promocion]="promocionSeleccionada"
  [esEdicion]="esEdicion"
  (guardar)="guardarPromocion($event)"
  (cerrar)="cerrarModal()"
></app-modal-promocion>

<app-modal-confirmacion
  *ngIf="mostrarModalConfirmacion"
  [mensaje]="'¿Estás seguro de que deseas eliminar esta promoción?'"
  (confirmar)="confirmarEliminacion($event)"
></app-modal-confirmacion>
