<div class="modal fade show d-block" tabindex="-1" role="dialog" aria-labelledby="modalConfirmTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalConfirmTitle">Confirmación</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="confirmarAccion(false)"></button>
        </div>
        <div class="modal-body">
          <p>{{ mensaje }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="confirmarAccion(false)">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="confirmarAccion(true)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  